{
  "openapi": "3.0.0",
  "info": {
    "title": "Pointograph",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pointograph.com/_dev"
    },
    {
      "url": "https://api.pointograph.com"
    }
  ],
  "paths": {
    "/verification/phone/send": {
      "post": {
        "description": "",
        "tags": [
          "verification"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been sent"
                }
              }
            }
          }
        }
      }
    },
    "/verification/phone/check": {
      "post": {
        "description": "",
        "tags": [
          "verification"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "verificationCode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710",
                "verificationCode": "1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "verificationToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been verified",
                  "data": {
                    "verificationToken": "ab6cba493e436ded7d4298b11b1d0cd1e1739460592c259ef0ea6d3af264fc23"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "phoneNumberVerificationToken": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710",
                "email": "test3@example.com",
                "username": "test3",
                "password": "password",
                "phoneNumberVerificationToken": "ab6cba493e436ded7d4298b11b1d0cd1e1739460592c259ef0ea6d3af264fc23"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "status": {
                              "type": "string"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account created successfully",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "status": "active",
                      "_id": "5f0858c72891bb3112d5b3e0",
                      "email": "test3@example.com",
                      "username": "test3",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456710",
                      "createdAt": "2020-07-10T12:02:15.916Z",
                      "updatedAt": "2020-07-10T12:02:15.916Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMDg1OGM3Mjg5MWJiMzExMmQ1YjNlMCIsImNvdW50ZXIiOiJhZXYza0ciLCJpYXQiOjE1OTQzODI1MzYsImV4cCI6MTU5NDQ2ODkzNn0.n_hga7hjysmmHus-zEq_EQO3vNLLiQ7n-skaWNKKRms"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "identifier": "+2348023456710",
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "status": {
                              "type": "string"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "login successful",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "status": "active",
                      "_id": "5f0858c72891bb3112d5b3e0",
                      "email": "test3@example.com",
                      "username": "test3",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456710",
                      "createdAt": "2020-07-10T12:02:15.916Z",
                      "updatedAt": "2020-07-10T12:02:15.916Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMDg1OGM3Mjg5MWJiMzExMmQ1YjNlMCIsImNvdW50ZXIiOiJqYlQ5dmsiLCJpYXQiOjE1OTQzODI1MzYsImV4cCI6MTU5NDQ2ODkzNn0.Ha1uzZhntRrwx7AM9hOPfWHpRWDo-55vt8oJG-lxHVE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password/initiate": {
      "post": {
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test3@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset link has been sent to your email"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{username}/profile": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {}
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "followingsCount": 0,
                    "_id": "5f0858c72891bb3112d5b3e0",
                    "email": "test3@example.com",
                    "username": "test3",
                    "placesCount": 0,
                    "places": [],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {}
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "followingsCount": 0,
                    "_id": "5f0858c72891bb3112d5b3e0",
                    "email": "test3@example.com",
                    "username": "test3",
                    "placesCount": 0,
                    "places": [],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile/update": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileImage": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "profileImage": "W5ijDrxUX1bmBCXe.png",
                "location": "Choba, Port Harcourt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "profileImage": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "profile updated",
                  "data": {
                    "username": "test3",
                    "email": "test3@example.com",
                    "profileImage": "W5ijDrxUX1bmBCXe.png",
                    "location": "Choba, Port Harcourt",
                    "followersCount": 0,
                    "followingsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/password/change": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "currentPassword": "password",
                "password": "newPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password changed"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followers": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f0858c72891bb3112d5b3df",
                      "username": "test1",
                      "profileImage": "KaJL4H1iRTv4iUVU.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followings": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f0858c72891bb3112d5b3de",
                      "username": "test2",
                      "profileImage": "w73rmOoD4ELxB0PK.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f0858c72891bb3112d5b3df",
                      "username": "test1",
                      "profileImage": "KaJL4H1iRTv4iUVU.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followings": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f0858c72891bb3112d5b3de",
                      "username": "test2",
                      "profileImage": "w73rmOoD4ELxB0PK.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/pages": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "pageType": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "contactPhoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contactEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "United Bank of Africa",
                "description": "United Bank of Africa",
                "shortName": "UBA",
                "pageType": "bank",
                "industry": "finance",
                "image": "image.jpg",
                "coverImage": "cover-image.jpg",
                "services": [
                  "money lending",
                  "money doubling"
                ],
                "tags": [
                  "money",
                  "bank",
                  "loan",
                  "finance"
                ],
                "streetAddress": "33 Road Lane Street",
                "contactPhoneNumbers": [
                  "+234909099009",
                  "+234909099001"
                ],
                "contactEmails": [
                  "contact@uba.com",
                  "help@uba.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "followersCount": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "team": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "assignedObjects": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "_id": {
                                        "type": "string"
                                      },
                                      "objectType": {
                                        "type": "string"
                                      },
                                      "objectPath": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "_id": {
                                  "type": "string"
                                },
                                "accountId": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "followersCount": 0,
                      "_id": "5f0858c92891bb3112d5b3ed",
                      "name": "United Bank of Africa",
                      "image": "image.jpg",
                      "team": [
                        {
                          "assignedObjects": [
                            {
                              "_id": "5f0858ca2891bb3112d5b3f2",
                              "objectType": "location",
                              "objectPath": "*"
                            },
                            {
                              "_id": "5f0858ca2891bb3112d5b3f3",
                              "objectType": "event",
                              "objectPath": "5f0858ca2891bb3112d5b3f1"
                            },
                            {
                              "_id": "5f0858ca2891bb3112d5b3f4",
                              "objectType": "project",
                              "objectPath": "5f0858ca2891bb3112d5b3f1"
                            }
                          ],
                          "_id": "5f0858ca2891bb3112d5b3f1",
                          "accountId": "5f0858c72891bb3112d5b3df",
                          "role": "maintainer",
                          "createdAt": "2020-07-10T12:02:18.285Z",
                          "updatedAt": "2020-07-10T12:02:18.418Z"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/update": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "pageType": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "contactPhoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contactEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "United Bank of Africa",
                "description": "United Bank of Africa with a modified description",
                "shortName": "UBA",
                "pageType": "bank",
                "industry": "finance",
                "image": "image.jpg",
                "coverImage": "cover-image.jpg",
                "services": [
                  "money lending",
                  "money doubling"
                ],
                "tags": [
                  "money",
                  "bank",
                  "loan",
                  "finance"
                ],
                "streetAddress": "33 Road Lane Street",
                "contactPhoneNumbers": [
                  "+234909099009",
                  "+234909099001"
                ],
                "contactEmails": [
                  "contact@uba.com",
                  "help@uba.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactPhoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactEmails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "shortName": {
                          "type": "string"
                        },
                        "pageType": {
                          "type": "string"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "coverImage": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "services": [
                      "money lending",
                      "money doubling"
                    ],
                    "tags": [
                      "money",
                      "bank",
                      "loan",
                      "finance"
                    ],
                    "contactPhoneNumbers": [
                      "+234909099009",
                      "+234909099001"
                    ],
                    "contactEmails": [
                      "contact@uba.com",
                      "help@uba.com"
                    ],
                    "_id": "5f0858c92891bb3112d5b3ed",
                    "name": "United Bank of Africa",
                    "description": "United Bank of Africa with a modified description",
                    "shortName": "UBA",
                    "pageType": "bank",
                    "industry": "finance",
                    "image": "image.jpg",
                    "coverImage": "cover-image.jpg",
                    "streetAddress": "33 Road Lane Street",
                    "createdAt": "2020-07-10T12:02:17.717Z",
                    "updatedAt": "2020-07-10T12:02:17.838Z",
                    "__v": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success",
                  "data": [
                    {
                      "_id": "5f0858c72891bb3112d5b3df",
                      "username": "test1",
                      "profileImage": "KaJL4H1iRTv4iUVU.png"
                    },
                    {
                      "_id": "5f0858c72891bb3112d5b3e0",
                      "username": "test3",
                      "profileImage": "W5ijDrxUX1bmBCXe.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test1@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites/{inviteToken}/accept": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "inviteToken",
            "description": "page invite token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites/{inviteToken}/reject": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "inviteToken",
            "description": "page invite token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "invitation has expired or has been revoked"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team": {
      "get": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedObjects": {
                            "type": "array",
                            "items": {}
                          },
                          "_id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "assignedObjects": [],
                      "_id": "5f0858ca2891bb3112d5b3f1",
                      "accountId": "5f0858c72891bb3112d5b3df",
                      "role": "maintainer",
                      "createdAt": "2020-07-10T12:02:18.285Z",
                      "updatedAt": "2020-07-10T12:02:18.285Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/{memberId}/objects": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "id of the page team member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "objects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "objectType": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "objects": [
                  {
                    "objectType": "location"
                  },
                  {
                    "objectType": "event",
                    "objectPath": "5f0858ca2891bb3112d5b3f1"
                  },
                  {
                    "objectType": "project",
                    "objectPath": "5f0858ca2891bb3112d5b3f1"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/{memberId}/objects/{objectId}/remove": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "id of the page team member",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "objectId",
            "description": "id of the page team member's assigned object",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/{memberId}/remove": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "id of the page team member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/locations/categories": {
      "get": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f0858ca2891bb3112d5b3f5",
                      "name": "Office / Business Premises",
                      "__v": 0,
                      "createdAt": "2020-07-10T12:02:18.587Z",
                      "updatedAt": "2020-07-10T12:02:18.587Z"
                    },
                    {
                      "_id": "5f0858ca2891bb3112d5b3f6",
                      "name": "Event Venue",
                      "__v": 0,
                      "createdAt": "2020-07-10T12:02:18.587Z",
                      "updatedAt": "2020-07-10T12:02:18.587Z"
                    },
                    {
                      "_id": "5f0858ca2891bb3112d5b3f7",
                      "name": "Project Site",
                      "__v": 0,
                      "createdAt": "2020-07-10T12:02:18.587Z",
                      "updatedAt": "2020-07-10T12:02:18.587Z"
                    },
                    {
                      "_id": "5f0858ca2891bb3112d5b3f8",
                      "name": "Property for Sale/Lease/Rent",
                      "__v": 0,
                      "createdAt": "2020-07-10T12:02:18.587Z",
                      "updatedAt": "2020-07-10T12:02:18.587Z"
                    },
                    {
                      "_id": "5f0858ca2891bb3112d5b3f9",
                      "name": "Place of Worship / Religion",
                      "__v": 0,
                      "createdAt": "2020-07-10T12:02:18.588Z",
                      "updatedAt": "2020-07-10T12:02:18.588Z"
                    },
                    {
                      "_id": "5f0858ca2891bb3112d5b3fa",
                      "name": "Others",
                      "__v": 0,
                      "createdAt": "2020-07-10T12:02:18.588Z",
                      "updatedAt": "2020-07-10T12:02:18.588Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "post": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "eddress": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "my house",
                "description": "my house at bayelsa test",
                "categoryId": "5f0858ca2891bb3112d5b3fa",
                "visibility": "public",
                "eddress": "myhouse",
                "tags": [
                  "home",
                  "village"
                ],
                "coordinates": {
                  "latitude": 4.384938,
                  "longitude": 4.89898
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "visibility": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "ownerType": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "categoryId": {
                          "type": "string"
                        },
                        "eddress": {
                          "type": "string"
                        },
                        "preciseLocation": {
                          "type": "object",
                          "properties": {
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "plusCode": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "visibility": "public",
                    "followersCount": 0,
                    "tags": [
                      "home",
                      "village"
                    ],
                    "_id": "5f0858ca2891bb3112d5b3fb",
                    "ownerId": "5f0858c72891bb3112d5b3df",
                    "ownerType": "account",
                    "name": "my house",
                    "description": "my house at bayelsa test",
                    "categoryId": "5f0858ca2891bb3112d5b3fa",
                    "eddress": "myhouse",
                    "preciseLocation": {
                      "coordinates": [
                        4.89898,
                        4.384938
                      ],
                      "_id": "5f0858ca2891bb3112d5b3fc",
                      "type": "Point"
                    },
                    "plusCode": "6FP69VMX+XH",
                    "createdAt": "2020-07-10T12:02:18.658Z",
                    "updatedAt": "2020-07-10T12:02:18.658Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "visibility": {
                            "type": "string"
                          },
                          "followersCount": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "_id": {
                            "type": "string"
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "eddress": {
                            "type": "string"
                          },
                          "preciseLocation": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "_id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "plusCode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "visibility": "private",
                      "followersCount": 0,
                      "tags": [
                        "home",
                        "village"
                      ],
                      "_id": "5f0858ca2891bb3112d5b3fb",
                      "ownerId": "5f0858c72891bb3112d5b3df",
                      "ownerType": "account",
                      "name": "my house",
                      "description": "my new house at Bayelsa test",
                      "categoryId": "5f0858ca2891bb3112d5b3f9",
                      "eddress": "myhouse",
                      "preciseLocation": {
                        "coordinates": [
                          4.89898,
                          4.384938
                        ],
                        "_id": "5f0858ca2891bb3112d5b3fc",
                        "type": "Point"
                      },
                      "plusCode": "6FP69VMX+XH",
                      "createdAt": "2020-07-10T12:02:18.658Z",
                      "updatedAt": "2020-07-10T12:02:18.696Z",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/update": {
      "post": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "my house",
                "description": "my new house at Bayelsa test",
                "categoryId": "5f0858ca2891bb3112d5b3f9",
                "visibility": "private",
                "tags": [
                  "home",
                  "village"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "visibility": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "ownerType": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "categoryId": {
                          "type": "string"
                        },
                        "eddress": {
                          "type": "string"
                        },
                        "preciseLocation": {
                          "type": "object",
                          "properties": {
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "plusCode": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "visibility": "private",
                    "followersCount": 0,
                    "tags": [
                      "home",
                      "village"
                    ],
                    "_id": "5f0858ca2891bb3112d5b3fb",
                    "ownerId": "5f0858c72891bb3112d5b3df",
                    "ownerType": "account",
                    "name": "my house",
                    "description": "my new house at Bayelsa test",
                    "categoryId": "5f0858ca2891bb3112d5b3f9",
                    "eddress": "myhouse",
                    "preciseLocation": {
                      "coordinates": [
                        4.89898,
                        4.384938
                      ],
                      "_id": "5f0858ca2891bb3112d5b3fc",
                      "type": "Point"
                    },
                    "plusCode": "6FP69VMX+XH",
                    "createdAt": "2020-07-10T12:02:18.658Z",
                    "updatedAt": "2020-07-10T12:02:18.696Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f0858c72891bb3112d5b3de",
                      "username": "test2",
                      "profileImage": "w73rmOoD4ELxB0PK.png"
                    },
                    {
                      "_id": "5f0858c72891bb3112d5b3e0",
                      "username": "test3",
                      "profileImage": "W5ijDrxUX1bmBCXe.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}