{
  "openapi": "3.0.0",
  "info": {
    "title": "Pointograph",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pointograph.com/_dev"
    },
    {
      "url": "https://api.pointograph.com"
    }
  ],
  "paths": {
    "/verification/phone/send": {
      "post": {
        "description": "",
        "tags": [
          "verification"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been sent"
                }
              }
            }
          }
        }
      }
    },
    "/verification/phone/check": {
      "post": {
        "description": "",
        "tags": [
          "verification"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "verificationCode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710",
                "verificationCode": "1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "verificationToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been verified",
                  "data": {
                    "verificationToken": "e63161c3bf00dce636d4abb4c26f76ff029aef7733e23dcb564486f86fa8a382"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "phoneNumberVerificationToken": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710",
                "email": "test3@example.com",
                "username": "test3",
                "password": "password",
                "phoneNumberVerificationToken": "e63161c3bf00dce636d4abb4c26f76ff029aef7733e23dcb564486f86fa8a382"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "status": {
                              "type": "string"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account created successfully",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "status": "active",
                      "_id": "5f05d0b0930ca145a2c3f572",
                      "email": "test3@example.com",
                      "username": "test3",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456710",
                      "createdAt": "2020-07-08T13:57:04.895Z",
                      "updatedAt": "2020-07-08T13:57:04.895Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMDVkMGIwOTMwY2ExNDVhMmMzZjU3MiIsImNvdW50ZXIiOiJYS1NrTjUiLCJpYXQiOjE1OTQyMTY2MjUsImV4cCI6MTU5NDMwMzAyNX0.DEdgo-Aiwd75QfX0gt3gs9zvYIv0HWYgkeA0O-uq2KA"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "identifier": "+2348023456710",
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "status": {
                              "type": "string"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "login successful",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "status": "active",
                      "_id": "5f05d0b0930ca145a2c3f572",
                      "email": "test3@example.com",
                      "username": "test3",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456710",
                      "createdAt": "2020-07-08T13:57:04.895Z",
                      "updatedAt": "2020-07-08T13:57:04.895Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMDVkMGIwOTMwY2ExNDVhMmMzZjU3MiIsImNvdW50ZXIiOiJSMUlwVlciLCJpYXQiOjE1OTQyMTY2MjUsImV4cCI6MTU5NDMwMzAyNX0.xQwGmF3ufaqHW5KJJSuUsqBIPBgCf_cQiUi-kFIOx78"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password/initiate": {
      "post": {
        "description": "",
        "tags": [
          "auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test3@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset link has been sent to your email"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{username}/profile": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {}
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "followingsCount": 0,
                    "_id": "5f05d0b0930ca145a2c3f572",
                    "email": "test3@example.com",
                    "username": "test3",
                    "placesCount": 0,
                    "places": [],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {}
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "followingsCount": 0,
                    "_id": "5f05d0b0930ca145a2c3f572",
                    "email": "test3@example.com",
                    "username": "test3",
                    "placesCount": 0,
                    "places": [],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile/update": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileImage": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "profileImage": "VsrOnXVAyEP8Nhgi.png",
                "location": "Choba, Port Harcourt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "profileImage": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "profile updated",
                  "data": {
                    "username": "test3",
                    "email": "test3@example.com",
                    "profileImage": "VsrOnXVAyEP8Nhgi.png",
                    "location": "Choba, Port Harcourt",
                    "followersCount": 0,
                    "followingsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/password/change": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "currentPassword": "password",
                "password": "newPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password changed"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followers": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f05d0b0930ca145a2c3f571",
                      "username": "test1",
                      "profileImage": "3Tgc5h0RozZBn4ek.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followings": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f05d0b0930ca145a2c3f573",
                      "username": "test2",
                      "profileImage": "xO01szkWYf30U8C8.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f05d0b0930ca145a2c3f571",
                      "username": "test1",
                      "profileImage": "3Tgc5h0RozZBn4ek.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followings": {
      "get": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f05d0b0930ca145a2c3f573",
                      "username": "test2",
                      "profileImage": "xO01szkWYf30U8C8.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/pages": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "pageType": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "contactPhoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contactEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "United Bank of Africa",
                "description": "United Bank of Africa",
                "shortName": "UBA",
                "pageType": "bank",
                "industry": "finance",
                "image": "image.jpg",
                "coverImage": "cover-image.jpg",
                "services": [
                  "money lending",
                  "money doubling"
                ],
                "tags": [
                  "money",
                  "bank",
                  "loan",
                  "finance"
                ],
                "streetAddress": "33 Road Lane Street",
                "contactPhoneNumbers": [
                  "+234909099009",
                  "+234909099001"
                ],
                "contactEmails": [
                  "contact@uba.com",
                  "help@uba.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "followersCount": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "followersCount": 0,
                      "_id": "5f05d0b2930ca145a2c3f580",
                      "name": "United Bank of Africa",
                      "image": "image.jpg"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/update": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "pageType": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "contactPhoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contactEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "United Bank of Africa",
                "description": "United Bank of Africa with a modified description",
                "shortName": "UBA",
                "pageType": "bank",
                "industry": "finance",
                "image": "image.jpg",
                "coverImage": "cover-image.jpg",
                "services": [
                  "money lending",
                  "money doubling"
                ],
                "tags": [
                  "money",
                  "bank",
                  "loan",
                  "finance"
                ],
                "streetAddress": "33 Road Lane Street",
                "contactPhoneNumbers": [
                  "+234909099009",
                  "+234909099001"
                ],
                "contactEmails": [
                  "contact@uba.com",
                  "help@uba.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactPhoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactEmails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "shortName": {
                          "type": "string"
                        },
                        "pageType": {
                          "type": "string"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "coverImage": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "services": [
                      "money lending",
                      "money doubling"
                    ],
                    "tags": [
                      "money",
                      "bank",
                      "loan",
                      "finance"
                    ],
                    "contactPhoneNumbers": [
                      "+234909099009",
                      "+234909099001"
                    ],
                    "contactEmails": [
                      "contact@uba.com",
                      "help@uba.com"
                    ],
                    "_id": "5f05d0b2930ca145a2c3f580",
                    "name": "United Bank of Africa",
                    "description": "United Bank of Africa with a modified description",
                    "shortName": "UBA",
                    "pageType": "bank",
                    "industry": "finance",
                    "image": "image.jpg",
                    "coverImage": "cover-image.jpg",
                    "streetAddress": "33 Road Lane Street",
                    "createdAt": "2020-07-08T13:57:06.644Z",
                    "updatedAt": "2020-07-08T13:57:06.741Z",
                    "__v": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success",
                  "data": [
                    {
                      "_id": "5f05d0b0930ca145a2c3f571",
                      "username": "test1",
                      "profileImage": "3Tgc5h0RozZBn4ek.png"
                    },
                    {
                      "_id": "5f05d0b0930ca145a2c3f572",
                      "username": "test3",
                      "profileImage": "VsrOnXVAyEP8Nhgi.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test1@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites/{inviteToken}/accept": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "inviteToken",
            "description": "page invite token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites/{inviteToken}/reject": {
      "post": {
        "description": "",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "inviteToken",
            "description": "page invite token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "invitation has expired or has been revoked"
                }
              }
            }
          }
        }
      }
    }
  }
}