{
  "openapi": "3.0.0",
  "info": {
    "title": "Pointograph",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pointograph.com"
    },
    {
      "url": "https://api.pointograph.com/_dev"
    }
  ],
  "paths": {
    "/verification/phone/send": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been sent"
                }
              }
            }
          }
        }
      }
    },
    "/verification/phone/check": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "verificationCode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456789",
                "verificationCode": "1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "verificationToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been verified",
                  "data": {
                    "verificationToken": "c4ce18eab1e78245ecc785d155addddd0ebb188af15f1b7d4f800b10f4711757"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "phoneNumberVerificationToken": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456789",
                "email": "test2@example.com",
                "username": "test2",
                "password": "password",
                "phoneNumberVerificationToken": "c4ce18eab1e78245ecc785d155addddd0ebb188af15f1b7d4f800b10f4711757"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account created successfully",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "_id": "5ef49874330744237cc65d9e",
                      "email": "test2@example.com",
                      "username": "test2",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456789",
                      "createdAt": "2020-06-25T12:28:36.023Z",
                      "updatedAt": "2020-06-25T12:28:36.023Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlZjQ5ODc0MzMwNzQ0MjM3Y2M2NWQ5ZSIsImNvdW50ZXIiOiJJcXBIb1QiLCJpYXQiOjE1OTMwODgxMTYsImV4cCI6MTU5MzE3NDUxNn0.EIXb-mEw4qm61sLNW1zjuG-MMws13hLZeWhbEuE1Kl8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "identifier": "+2348023456789",
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "login successful",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "_id": "5ef49874330744237cc65d9e",
                      "email": "test2@example.com",
                      "username": "test2",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456789",
                      "createdAt": "2020-06-25T12:28:36.023Z",
                      "updatedAt": "2020-06-25T12:28:36.023Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlZjQ5ODc0MzMwNzQ0MjM3Y2M2NWQ5ZSIsImNvdW50ZXIiOiJ1Z1RPdUgiLCJpYXQiOjE1OTMwODgxMTYsImV4cCI6MTU5MzE3NDUxNn0.mOD3lpKbvxJBCLuuFX3Tp_kEDW5156lmHr83WdjrO4Y"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile": {
      "get": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "visibility": {
                                "type": "string"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "accountId": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "categoryId": {
                                "type": "string"
                              },
                              "eddress": {
                                "type": "string"
                              },
                              "preciseLocation": {
                                "type": "object",
                                "properties": {
                                  "coordinates": {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  "_id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                }
                              },
                              "plusCode": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "__v": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 1,
                    "followingsCount": 0,
                    "_id": "5ef49871330744237cc65d9a",
                    "username": "test1",
                    "location": "Choba, Port Harcourt",
                    "placesCount": 1,
                    "places": [
                      {
                        "visibility": "public",
                        "_id": "5ef49875330744237cc65da9",
                        "accountId": "5ef49871330744237cc65d9a",
                        "name": "my house",
                        "description": "my house at bayelsa test",
                        "categoryId": "5ef49875330744237cc65da8",
                        "eddress": "myhouse",
                        "preciseLocation": {
                          "coordinates": [
                            4.89898,
                            4.384938
                          ],
                          "_id": "5ef49875330744237cc65daa",
                          "type": "Point"
                        },
                        "plusCode": "6FP69VMX+XH",
                        "createdAt": "2020-06-25T12:28:37.530Z",
                        "updatedAt": "2020-06-25T12:28:37.530Z",
                        "__v": 0
                      }
                    ],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile/update": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "location": "Choba, Port Harcourt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "profile updated",
                  "data": {
                    "username": "test2",
                    "email": "test2@example.com",
                    "location": "Choba, Port Harcourt",
                    "followersCount": 0,
                    "followingsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password/initiate": {
      "post": {
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test1@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset link has been sent to your email"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/follow": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "accountId": "5ef49871330744237cc65d9a"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followers": {
      "get": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5ef49871330744237cc65d9a",
                      "username": "test1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followings": {
      "get": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5ef49874330744237cc65d9e",
                      "username": "test2"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/unfollow": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountId": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "accountId": "5ef49874330744237cc65d9e"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/locations/categories": {
      "get": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5ef49875330744237cc65da3",
                      "name": "Office / Business Premises",
                      "__v": 0,
                      "createdAt": "2020-06-25T12:28:37.210Z",
                      "updatedAt": "2020-06-25T12:28:37.210Z"
                    },
                    {
                      "_id": "5ef49875330744237cc65da4",
                      "name": "Event Venue",
                      "__v": 0,
                      "createdAt": "2020-06-25T12:28:37.211Z",
                      "updatedAt": "2020-06-25T12:28:37.211Z"
                    },
                    {
                      "_id": "5ef49875330744237cc65da5",
                      "name": "Project Site",
                      "__v": 0,
                      "createdAt": "2020-06-25T12:28:37.212Z",
                      "updatedAt": "2020-06-25T12:28:37.212Z"
                    },
                    {
                      "_id": "5ef49875330744237cc65da6",
                      "name": "Property for Sale/Lease/Rent",
                      "__v": 0,
                      "createdAt": "2020-06-25T12:28:37.212Z",
                      "updatedAt": "2020-06-25T12:28:37.212Z"
                    },
                    {
                      "_id": "5ef49875330744237cc65da7",
                      "name": "Place of Worship / Religion",
                      "__v": 0,
                      "createdAt": "2020-06-25T12:28:37.212Z",
                      "updatedAt": "2020-06-25T12:28:37.212Z"
                    },
                    {
                      "_id": "5ef49875330744237cc65da8",
                      "name": "Others",
                      "__v": 0,
                      "createdAt": "2020-06-25T12:28:37.212Z",
                      "updatedAt": "2020-06-25T12:28:37.212Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "eddress": {
                    "type": "string"
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "my house",
                "description": "my house at bayelsa test",
                "categoryId": "5ef49875330744237cc65da8",
                "visibility": "public",
                "eddress": "myhouse",
                "coordinates": {
                  "latitude": 4.384938,
                  "longitude": 4.89898
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "visibility": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "categoryId": {
                          "type": "string"
                        },
                        "eddress": {
                          "type": "string"
                        },
                        "preciseLocation": {
                          "type": "object",
                          "properties": {
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "plusCode": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "visibility": "public",
                    "_id": "5ef49875330744237cc65da9",
                    "accountId": "5ef49871330744237cc65d9a",
                    "name": "my house",
                    "description": "my house at bayelsa test",
                    "categoryId": "5ef49875330744237cc65da8",
                    "eddress": "myhouse",
                    "preciseLocation": {
                      "coordinates": [
                        4.89898,
                        4.384938
                      ],
                      "_id": "5ef49875330744237cc65daa",
                      "type": "Point"
                    },
                    "plusCode": "6FP69VMX+XH",
                    "createdAt": "2020-06-25T12:28:37.530Z",
                    "updatedAt": "2020-06-25T12:28:37.530Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "visibility": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "eddress": {
                            "type": "string"
                          },
                          "preciseLocation": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "_id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "plusCode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "visibility": "public",
                      "_id": "5ef49875330744237cc65da9",
                      "accountId": "5ef49871330744237cc65d9a",
                      "name": "my house",
                      "description": "my house at bayelsa test",
                      "categoryId": "5ef49875330744237cc65da8",
                      "eddress": "myhouse",
                      "preciseLocation": {
                        "coordinates": [
                          4.89898,
                          4.384938
                        ],
                        "_id": "5ef49875330744237cc65daa",
                        "type": "Point"
                      },
                      "plusCode": "6FP69VMX+XH",
                      "createdAt": "2020-06-25T12:28:37.530Z",
                      "updatedAt": "2020-06-25T12:28:37.530Z",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations/test1/myhouse": {
      "get": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "visibility": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "categoryId": {
                          "type": "string"
                        },
                        "eddress": {
                          "type": "string"
                        },
                        "preciseLocation": {
                          "type": "object",
                          "properties": {
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "plusCode": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "visibility": "public",
                    "_id": "5ef49875330744237cc65da9",
                    "accountId": "5ef49871330744237cc65d9a",
                    "name": "my house",
                    "description": "my house at bayelsa test",
                    "categoryId": "5ef49875330744237cc65da8",
                    "eddress": "myhouse",
                    "preciseLocation": {
                      "coordinates": [
                        4.89898,
                        4.384938
                      ],
                      "_id": "5ef49875330744237cc65daa",
                      "type": "Point"
                    },
                    "plusCode": "6FP69VMX+XH",
                    "createdAt": "2020-06-25T12:28:37.530Z",
                    "updatedAt": "2020-06-25T12:28:37.530Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/territories/track": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "territoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "territoryId": "5ef49876330744237cc65dae"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "you are now tracking this territory"
                }
              }
            }
          }
        }
      }
    },
    "/territories/untrack": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "territoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "territoryId": "5ef49876330744237cc65dae"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "you are no longer tracking this territory"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "description": "",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "query": "test"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "followersCount": {
                            "type": "number"
                          },
                          "username": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "_type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5ef49871330744237cc65d9a",
                      "followersCount": 1,
                      "username": "test1",
                      "location": "Choba, Port Harcourt",
                      "isFollowing": true,
                      "_type": "account"
                    },
                    {
                      "_id": "5ef49874330744237cc65d9e",
                      "followersCount": 0,
                      "username": "test2",
                      "location": "Choba, Port Harcourt",
                      "isFollowing": false,
                      "_type": "account"
                    },
                    {
                      "_id": "5ef49876330744237cc65dae",
                      "name": "Port Harcourt",
                      "description": "Bole City test",
                      "isTracking": false,
                      "_type": "territory"
                    },
                    {
                      "_id": "5ef49876330744237cc65daf",
                      "name": "Lagos",
                      "description": "Banana Island City test",
                      "isTracking": true,
                      "_type": "territory"
                    },
                    {
                      "_id": "5ef49875330744237cc65da9",
                      "name": "my house",
                      "eddress": "myhouse",
                      "owner": {
                        "_id": "5ef49871330744237cc65d9a",
                        "username": "test1"
                      },
                      "longitude": 4.89898,
                      "latitude": 4.384938,
                      "_type": "location"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}