{
  "openapi": "3.0.0",
  "info": {
    "title": "Pointograph",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pointograph.com/_dev"
    },
    {
      "url": "https://api.pointograph.com"
    }
  ],
  "paths": {
    "/verification/phone/send": {
      "post": {
        "description": "",
        "tags": [
          "Verification"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been sent"
                }
              }
            }
          }
        }
      }
    },
    "/verification/phone/check": {
      "post": {
        "description": "",
        "tags": [
          "Verification"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "verificationCode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710",
                "verificationCode": "1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "verificationToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "verification code has been verified",
                  "data": {
                    "verificationToken": "85034eb6e69bc72c116a8cc15dcb38f1da18b0d6d18aca66f39c366e4ef3ed3d"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "description": "",
        "tags": [
          "Auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "phoneNumberVerificationToken": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "countryCode": "NG",
                "phoneNumber": "+2348023456710",
                "email": "test3@example.com",
                "username": "test3",
                "password": "password",
                "phoneNumberVerificationToken": "85034eb6e69bc72c116a8cc15dcb38f1da18b0d6d18aca66f39c366e4ef3ed3d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "visibility": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account created successfully",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "visibility": "private",
                      "status": "active",
                      "_id": "5f313f88a9dd365c95442c77",
                      "email": "test3@example.com",
                      "username": "test3",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456710",
                      "createdAt": "2020-08-10T12:37:28.981Z",
                      "updatedAt": "2020-08-10T12:37:28.981Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMzEzZjg4YTlkZDM2NWM5NTQ0MmM3NyIsImNvdW50ZXIiOiJFTEE0NUUiLCJpYXQiOjE1OTcwNjMwNDksImV4cCI6MTU5NzE0OTQ0OX0.WYCv5WmKtJRADzb0Z-r8nVGUJTi6eLw-jKBqLyW5sCk"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "",
        "tags": [
          "Auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "identifier": "+2348023456710",
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "followersCount": {
                              "type": "number"
                            },
                            "followingsCount": {
                              "type": "number"
                            },
                            "visibility": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "login successful",
                  "data": {
                    "account": {
                      "followersCount": 0,
                      "followingsCount": 0,
                      "visibility": "private",
                      "status": "active",
                      "_id": "5f313f88a9dd365c95442c77",
                      "email": "test3@example.com",
                      "username": "test3",
                      "countryCode": "NG",
                      "phoneNumber": "+2348023456710",
                      "createdAt": "2020-08-10T12:37:28.981Z",
                      "updatedAt": "2020-08-10T12:37:28.981Z"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMzEzZjg4YTlkZDM2NWM5NTQ0MmM3NyIsImNvdW50ZXIiOiJIdndQMW4iLCJpYXQiOjE1OTcwNjMwNDksImV4cCI6MTU5NzE0OTQ0OX0.kdKBIrj-Y64RaIvdlQ28OvRQ9LdiLpBmX5bJHMEI7e4"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password/initiate": {
      "post": {
        "description": "",
        "tags": [
          "Auth"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test3@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset link has been sent to your email"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{username}/profile": {
      "get": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {}
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "followingsCount": 0,
                    "_id": "5f313f88a9dd365c95442c77",
                    "email": "test3@example.com",
                    "username": "test3",
                    "placesCount": 0,
                    "places": [],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile": {
      "get": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "placesCount": {
                          "type": "number"
                        },
                        "places": {
                          "type": "array",
                          "items": {}
                        },
                        "projects": {
                          "type": "array",
                          "items": {}
                        },
                        "projectsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "followingsCount": 0,
                    "_id": "5f313f88a9dd365c95442c77",
                    "email": "test3@example.com",
                    "username": "test3",
                    "placesCount": 0,
                    "places": [],
                    "projects": [],
                    "projectsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/profile/update": {
      "post": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileImage": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "profileImage": "1W4w7P0Xu5ctpHdB.png",
                "location": "Choba, Port Harcourt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "profileImage": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "followingsCount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "profile updated",
                  "data": {
                    "username": "test3",
                    "email": "test3@example.com",
                    "profileImage": "1W4w7P0Xu5ctpHdB.png",
                    "location": "Choba, Port Harcourt",
                    "followersCount": 0,
                    "followingsCount": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/password/change": {
      "post": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "currentPassword": "password",
                "password": "newPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password changed"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followers": {
      "get": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f88a9dd365c95442c78",
                      "username": "test1",
                      "profileImage": "cScYQk8q00y2pF0U.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/followings": {
      "get": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f88a9dd365c95442c76",
                      "username": "test2",
                      "profileImage": "3bCYllLXFdu0274F.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f88a9dd365c95442c78",
                      "username": "test1",
                      "profileImage": "cScYQk8q00y2pF0U.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/followings": {
      "get": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f88a9dd365c95442c76",
                      "username": "test2",
                      "profileImage": "3bCYllLXFdu0274F.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "accountId",
            "description": "id of the account",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "successful"
                }
              }
            }
          }
        }
      }
    },
    "/pages": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "pageType": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "contactPhoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contactEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "United Bank of Africa",
                "description": "United Bank of Africa",
                "shortName": "UBA",
                "pageType": "bank",
                "industry": "finance",
                "image": "image.jpg",
                "coverImage": "cover-image.jpg",
                "services": [
                  "money lending",
                  "money doubling"
                ],
                "tags": [
                  "money",
                  "bank",
                  "loan",
                  "finance"
                ],
                "streetAddress": "33 Road Lane Street",
                "contactPhoneNumbers": [
                  "+234909099009",
                  "+234909099001"
                ],
                "contactEmails": [
                  "contact@uba.com",
                  "help@uba.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "followersCount": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "team": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "assignedObjects": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "_id": {
                                        "type": "string"
                                      },
                                      "objectType": {
                                        "type": "string"
                                      },
                                      "objectPath": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "_id": {
                                  "type": "string"
                                },
                                "accountId": {
                                  "type": "string"
                                },
                                "role": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "followersCount": 0,
                      "_id": "5f313f8aa9dd365c95442c87",
                      "name": "United Bank of Africa",
                      "image": "image.jpg",
                      "team": [
                        {
                          "assignedObjects": [
                            {
                              "_id": "5f313f8ba9dd365c95442c8f",
                              "objectType": "location",
                              "objectPath": "*"
                            },
                            {
                              "_id": "5f313f8ba9dd365c95442c90",
                              "objectType": "event",
                              "objectPath": "5f313f8ba9dd365c95442c8e"
                            },
                            {
                              "_id": "5f313f8ba9dd365c95442c91",
                              "objectType": "project",
                              "objectPath": "5f313f8ba9dd365c95442c8e"
                            }
                          ],
                          "_id": "5f313f8ba9dd365c95442c8e",
                          "accountId": "5f313f88a9dd365c95442c78",
                          "role": "maintainer",
                          "createdAt": "2020-08-10T12:37:31.555Z",
                          "updatedAt": "2020-08-10T12:37:31.705Z"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}": {
      "get": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactPhoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactEmails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "shortName": {
                          "type": "string"
                        },
                        "pageType": {
                          "type": "string"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "coverImage": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "services": [
                      "money lending",
                      "money doubling"
                    ],
                    "tags": [
                      "money",
                      "bank",
                      "loan",
                      "finance"
                    ],
                    "contactPhoneNumbers": [
                      "+234909099009",
                      "+234909099001"
                    ],
                    "contactEmails": [
                      "contact@uba.com",
                      "help@uba.com"
                    ],
                    "_id": "5f313f8aa9dd365c95442c87",
                    "name": "United Bank of Africa",
                    "description": "United Bank of Africa",
                    "shortName": "UBA",
                    "pageType": "bank",
                    "industry": "finance",
                    "image": "image.jpg",
                    "coverImage": "cover-image.jpg",
                    "streetAddress": "33 Road Lane Street",
                    "createdAt": "2020-08-10T12:37:30.932Z",
                    "updatedAt": "2020-08-10T12:37:30.951Z",
                    "__v": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/update": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "shortName": {
                    "type": "string"
                  },
                  "pageType": {
                    "type": "string"
                  },
                  "industry": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "contactPhoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "contactEmails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "United Bank of Africa",
                "description": "United Bank of Africa with a modified description",
                "shortName": "UBA",
                "pageType": "bank",
                "industry": "finance",
                "image": "image.jpg",
                "coverImage": "cover-image.jpg",
                "services": [
                  "money lending",
                  "money doubling"
                ],
                "tags": [
                  "money",
                  "bank",
                  "loan",
                  "finance"
                ],
                "streetAddress": "33 Road Lane Street",
                "contactPhoneNumbers": [
                  "+234909099009",
                  "+234909099001"
                ],
                "contactEmails": [
                  "contact@uba.com",
                  "help@uba.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "followersCount": {
                          "type": "number"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactPhoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "contactEmails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "shortName": {
                          "type": "string"
                        },
                        "pageType": {
                          "type": "string"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "coverImage": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "followersCount": 0,
                    "services": [
                      "money lending",
                      "money doubling"
                    ],
                    "tags": [
                      "money",
                      "bank",
                      "loan",
                      "finance"
                    ],
                    "contactPhoneNumbers": [
                      "+234909099009",
                      "+234909099001"
                    ],
                    "contactEmails": [
                      "contact@uba.com",
                      "help@uba.com"
                    ],
                    "_id": "5f313f8aa9dd365c95442c87",
                    "name": "United Bank of Africa",
                    "description": "United Bank of Africa with a modified description",
                    "shortName": "UBA",
                    "pageType": "bank",
                    "industry": "finance",
                    "image": "image.jpg",
                    "coverImage": "cover-image.jpg",
                    "streetAddress": "33 Road Lane Street",
                    "createdAt": "2020-08-10T12:37:30.932Z",
                    "updatedAt": "2020-08-10T12:37:31.089Z",
                    "__v": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success",
                  "data": [
                    {
                      "_id": "5f313f88a9dd365c95442c78",
                      "username": "test1",
                      "profileImage": "cScYQk8q00y2pF0U.png"
                    },
                    {
                      "_id": "5f313f88a9dd365c95442c77",
                      "username": "test3",
                      "profileImage": "1W4w7P0Xu5ctpHdB.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "test1@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites/{inviteToken}/accept": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "inviteToken",
            "description": "page invite token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/invites/{inviteToken}/reject": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "inviteToken",
            "description": "page invite token",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "invitation has expired or has been revoked"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team": {
      "get": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedObjects": {
                            "type": "array",
                            "items": {}
                          },
                          "_id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "assignedObjects": [],
                      "_id": "5f313f8ba9dd365c95442c8e",
                      "accountId": "5f313f88a9dd365c95442c78",
                      "role": "maintainer",
                      "createdAt": "2020-08-10T12:37:31.555Z",
                      "updatedAt": "2020-08-10T12:37:31.555Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/{memberId}/objects": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "id of the page team member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "objects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "objectType": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "objects": [
                  {
                    "objectType": "location"
                  },
                  {
                    "objectType": "event",
                    "objectPath": "5f313f8ba9dd365c95442c8e"
                  },
                  {
                    "objectType": "project",
                    "objectPath": "5f313f8ba9dd365c95442c8e"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/{memberId}/objects/{objectId}/remove": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "id of the page team member",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "objectId",
            "description": "id of the page team member's assigned object",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/pages/{pageId}/team/{memberId}/remove": {
      "post": {
        "description": "",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageId",
            "description": "id of the page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "memberId",
            "description": "id of the page team member",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/locations/categories": {
      "get": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f8ba9dd365c95442c92",
                      "name": "Office / Business Premises",
                      "__v": 0,
                      "createdAt": "2020-08-10T12:37:31.895Z",
                      "updatedAt": "2020-08-10T12:37:31.895Z"
                    },
                    {
                      "_id": "5f313f8ba9dd365c95442c93",
                      "name": "Event Venue",
                      "__v": 0,
                      "createdAt": "2020-08-10T12:37:31.895Z",
                      "updatedAt": "2020-08-10T12:37:31.895Z"
                    },
                    {
                      "_id": "5f313f8ba9dd365c95442c94",
                      "name": "Project Site",
                      "__v": 0,
                      "createdAt": "2020-08-10T12:37:31.895Z",
                      "updatedAt": "2020-08-10T12:37:31.895Z"
                    },
                    {
                      "_id": "5f313f8ba9dd365c95442c95",
                      "name": "Property for Sale/Lease/Rent",
                      "__v": 0,
                      "createdAt": "2020-08-10T12:37:31.895Z",
                      "updatedAt": "2020-08-10T12:37:31.895Z"
                    },
                    {
                      "_id": "5f313f8ba9dd365c95442c96",
                      "name": "Place of Worship / Religion",
                      "__v": 0,
                      "createdAt": "2020-08-10T12:37:31.896Z",
                      "updatedAt": "2020-08-10T12:37:31.896Z"
                    },
                    {
                      "_id": "5f313f8ba9dd365c95442c97",
                      "name": "Others",
                      "__v": 0,
                      "createdAt": "2020-08-10T12:37:31.896Z",
                      "updatedAt": "2020-08-10T12:37:31.896Z"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "post": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "eddress": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "my house",
                "description": "my house at bayelsa test",
                "categoryId": "5f313f8ba9dd365c95442c97",
                "visibility": "public",
                "eddress": "myhouse",
                "tags": [
                  "home",
                  "village"
                ],
                "coordinates": {
                  "latitude": 4.384938,
                  "longitude": 4.89898
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "visibility": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "ownerType": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "categoryId": {
                          "type": "string"
                        },
                        "eddress": {
                          "type": "string"
                        },
                        "preciseLocation": {
                          "type": "object",
                          "properties": {
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "plusCode": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "visibility": "public",
                    "followersCount": 0,
                    "tags": [
                      "home",
                      "village"
                    ],
                    "_id": "5f313f8ba9dd365c95442c98",
                    "ownerId": "5f313f88a9dd365c95442c78",
                    "ownerType": "account",
                    "name": "my house",
                    "description": "my house at bayelsa test",
                    "categoryId": "5f313f8ba9dd365c95442c97",
                    "eddress": "myhouse",
                    "preciseLocation": {
                      "coordinates": [
                        4.89898,
                        4.384938
                      ],
                      "_id": "5f313f8ba9dd365c95442c99",
                      "type": "Point"
                    },
                    "plusCode": "6FP69VMX+XH",
                    "createdAt": "2020-08-10T12:37:31.966Z",
                    "updatedAt": "2020-08-10T12:37:31.966Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          },
                          "followersCount": {
                            "type": "number"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "ownerType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "eddress": {
                            "type": "string"
                          },
                          "preciseLocation": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "_id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "plusCode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "photos": {
                            "type": "array",
                            "items": {}
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f8ba9dd365c95442c98",
                      "visibility": "private",
                      "followersCount": 0,
                      "tags": [
                        "home",
                        "village"
                      ],
                      "ownerId": "5f313f88a9dd365c95442c78",
                      "ownerType": "account",
                      "name": "my house",
                      "description": "my new house at Bayelsa test",
                      "categoryId": "5f313f8ba9dd365c95442c96",
                      "eddress": "myhouse",
                      "preciseLocation": {
                        "coordinates": [
                          4.89898,
                          4.384938
                        ],
                        "_id": "5f313f8ba9dd365c95442c99",
                        "type": "Point"
                      },
                      "plusCode": "6FP69VMX+XH",
                      "createdAt": "2020-08-10T12:37:31.966Z",
                      "updatedAt": "2020-08-10T12:37:32.023Z",
                      "__v": 0,
                      "photos": []
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/update": {
      "post": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "visibility": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "name": "my house",
                "description": "my new house at Bayelsa test",
                "categoryId": "5f313f8ba9dd365c95442c96",
                "visibility": "private",
                "tags": [
                  "home",
                  "village"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "visibility": {
                          "type": "string"
                        },
                        "followersCount": {
                          "type": "number"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "_id": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "ownerType": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "categoryId": {
                          "type": "string"
                        },
                        "eddress": {
                          "type": "string"
                        },
                        "preciseLocation": {
                          "type": "object",
                          "properties": {
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        },
                        "plusCode": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "visibility": "private",
                    "followersCount": 0,
                    "tags": [
                      "home",
                      "village"
                    ],
                    "_id": "5f313f8ba9dd365c95442c98",
                    "ownerId": "5f313f88a9dd365c95442c78",
                    "ownerType": "account",
                    "name": "my house",
                    "description": "my new house at Bayelsa test",
                    "categoryId": "5f313f8ba9dd365c95442c96",
                    "eddress": "myhouse",
                    "preciseLocation": {
                      "coordinates": [
                        4.89898,
                        4.384938
                      ],
                      "_id": "5f313f8ba9dd365c95442c99",
                      "type": "Point"
                    },
                    "plusCode": "6FP69VMX+XH",
                    "createdAt": "2020-08-10T12:37:31.966Z",
                    "updatedAt": "2020-08-10T12:37:32.023Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/follow": {
      "post": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/unfollow": {
      "post": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "success"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/followers": {
      "get": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "locationId",
            "description": "id of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "profileImage": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "5f313f88a9dd365c95442c76",
                      "username": "test2",
                      "profileImage": "3bCYllLXFdu0274F.png"
                    },
                    {
                      "_id": "5f313f88a9dd365c95442c77",
                      "username": "test3",
                      "profileImage": "1W4w7P0Xu5ctpHdB.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/locations/alarms": {
      "post": {
        "description": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-api-token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locationId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "locationId": "5f313f8ba9dd365c95442c98",
                "description": "Alarm description number 2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "additionalDescriptions": {
                          "type": "array",
[...]
